### IDE
.idea
.vscode

### output dir
**/output/*
**/_output/*

### protobuf
*.pb.go
*_pb.js
*_pb2.py

.project
*.prefs

### ninja files
.ninja_*
build.ninja

### copied files
functionsystem/src/common/proto/*

### build files
common/litebus/build
functionsystem/build